<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Simple Stock Chart</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png')}}">

  <!-- CSS For Bokeh Plot
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<style>
	.plotdiv {margin:0px}
</style>


  <!-- Bokeh Chart Resource
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% if status.code==1 %}
	{{ plot.resources|indent(4)|safe }}
	{{ plot.script|indent(4)|safe }}
	{% endif %}
  
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
		<h3 style="margin-top:50px">Simple Stock Chart</h3>
		[ <b>stockchart</b> | <a href="{{ url_for('about') }}">about</a> ]
		<br/><br/>
		
	    <form action="{{ url_for('stock') }}" method=get>
			<label>Stockcode</label>
			<input type="text" size="30" name="stockcode" value="{% if status.code==1 %}{{stock.code}}{% endif %}"/>
			<select name="period">
				<option value="1M" {% if stock.period=='1M' %}selected{% endif %}>1M</option>
				<option value="6M" {% if stock.period=='6M' %}selected{% endif %}>6M</option>
				<option value="1Y" {% if stock.period=='1Y' %}selected{% endif %}>1Y</option>
				<option value="All" {% if stock.period=='All' %}selected{% endif %}>All</option>
			</select>
			<input class="button-primary" type="submit" value="SHOW CHART"/>
	    </form>

	{% if status.code>1 %}        
        <p>{{status.msg}}</p>	
	{% endif %}        	
	{% if status.code==1 %}
        {{ plot.div|indent(4)|safe }}
	{% endif %}        

    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>



